@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Smooch+Sans&display=swap');

$p: 1rem;
$m: 1rem;

$base-font: 'Heebo', sans-serif;
$heading-font: 'Smooch Sans', sans-serif;

// colors
$blue: #009cab;
$red: #e73f1b;
$orange: #f7ae19;
$green: #8dab3d;
$black: black;
$gray: #a4a4a4;
$darkgray: #6b6b6b;
$white: white;

$color-map: (
  //key: value
        'primary': $blue,
        'danger': $red,
        'success': $green,
        'info': $orange,
        'black': $black,
        'gray': $gray,
        'white': $white
);


