@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $fontsize;
}

body {
  font-family: $fontstack;
  line-height: 1.5;
  @include colorcombo;
}

main, footer {
  padding: 0 1rem;
}

h1 {
  @include colorcombo($sasscolor, inherit);
}

h1, p, ul {
  margin-bottom: 1rem;
}

li {
  margin-left: 2rem;
}

footer {
  @include colorcombo(inherit, color.scale(color.invert($sasscolor), $lightness: 75%));

  p {
    padding: 1rem 0;
  }
}

