$sasscolor: #cf649a;
$fontstack: Verdana, sans-serif;
$fontsize: 14px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $fontsize;
}

body {
  font-family: $fontstack;
  line-height: 1.5;
}

main, footer {
  padding: 0 1rem;

}

h1 {
  color: $sasscolor;
  background-color: inherit;
}

h1, p, ul {
  margin-bottom: 1rem;
}

li {
  margin-left: 2rem;
}
